{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>

    <div>

        These are the skills :
        
        <p>Completed Internship on Python .
                Worked as an Intern to develop PC application using Python.</p
            <p>Technologies and Language used:</p>
            <ul>
                <li>Python</li>
                <li>Firebase</li>
                <li>C++</li>
                <li>C</li>
                <li>HTML</li>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>PHP</li>
                <li>SQL</li>
                <li>Android</li>
                <li>WebApp</li>
                <li>SqlLite</li>
                <li>Java</li>
                <li>Xml</li>
                
            </ul>
      
    </div>

    
</body>
</html>

{% endblock %}
